<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PluginDirectory" value="D:\plugin\"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="Text" type="System.Diagnostics.TextWriterTraceListener" initializeData="log.txt" traceOutputOptions="DateTime"></add>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>